<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-81 col-lg-16 col-xl-15">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <button [routerLink]="['']" class="btn btn-success mb-2">
              back
            </button>
            @if (curQuestion) {
              <div class="clearfix">
                <div class="box">
                  <div class="form-outline mb-4">
                    <h1>{{ curQuestion.title }}</h1>
                  </div>
                  <div class="form-outline mb-4">
                    <h3>{{ curQuestion.question }}</h3>
                  </div>
                  <div class="form-outline mb-4">
                    <p>{{ curQuestion.answer }}</p>
                  </div>

                  <div class="form-outline mb-4">
                    <small>{{ curQuestion.subject }}</small>
                  </div>

                  <div class="form-outline mb-4">
                    <small>{{ curQuestion.topic }}</small>
                  </div>
                </div>
                <div class="box">
                  <div class="form-outline mb-4">
                    <img
                      src="data:image/jpeg;base64,{{ curQuestion.image }}"
                      alt="photo"
                    />
                  </div>
                </div>

                <div class="d-flex"></div>
                <button
                  [disabled]="!preId"
                  class="btn btn-primary btn-lg btn-block me-2"
                  [routerLink]="['/questions', preId]"
                >
                  <
                </button>

                <button
                  [disabled]="!nextId"
                  class="btn btn-primary btn-lg btn-block ms-2"
                  [routerLink]="['/questions', nextId]"
                >
                  >
                </button>
              </div>
            } @else if (isLoading) {
              <h3>Loading question</h3>
            } @else {
              <h3>Unable to get question</h3>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
