<a [routerLink]="['']">Login</a>
<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-81 col-lg-16 col-xl-15">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <div class="form-outline mb-4">
              <h1>{{ question?.title }}</h1>
            </div>
            <div class="form-outline mb-4">
              <h3>{{ question?.question }}</h3>
            </div>
            <div class="form-outline mb-4">
              <p>{{ question?.answer }}</p>
            </div>

            <div class="form-outline mb-4">
              <button>Image</button>
            </div>
            <div class="form-outline mb-4">
              <small>{{ question?.subject }}</small>
            </div>

            <div class="form-outline mb-4">
              <small>{{ question?.topic }}</small>
            </div>
            @if (true) {
              <button
                class="btn btn-primary btn-lg btn-block"
                [routerLink]="['/question/', count - 1]"
              >
                <
              </button>
            }
            @if (true) {
              <button
                class="btn btn-primary btn-lg btn-block"
                [routerLink]="['/question/', +count + 1]"
              >
                >
              </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
