<section class="vh-100" style="background-color: #508bfc">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-81 col-lg-16 col-xl-15">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5">
            <h3 class="mb-5 text-center">Admin</h3>
            <div class="form-outline mb-4">
              <label class="form-label" for="typeTitleX-2">Title</label>
              <input
                type="text"
                id="typeTitleX-2"
                class="form-control form-control-lg"
                placeholder="Title"
              />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="typeQuestionTextX-2"
                >Question Text</label
              >
              <input
                type="text"
                id="typeQuestionTextX-2"
                class="form-control form-control-lg"
                placeholder="Question Text"
              />
            </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="typeAnswerX-2">Answer</label>
              <textarea
                type="text"
                id="typeAnswerX-2"
                class="form-control form-control-lg"
                placeholder="Answer"
              ></textarea>
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typeImageX-2">Image</label>
              <input
                type="file"
                id="typeImageX-2"
                class="form-control form-control-lg"
                placeholder="Image"
              />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typeUrlX-2">Url</label>
              <input
                type="text"
                id="typeUrlX-2"
                class="form-control form-control-lg"
                placeholder="Url"
              />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typeSubjectX-2">Subject</label>
              <input
                type="text"
                id="typeSubjectX-2"
                class="form-control form-control-lg"
                placeholder="Subject"
              />
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="typetopicX-2">topic</label>
              <input
                type="text"
                id="typetopicX-2"
                class="form-control form-control-lg"
                placeholder="topic"
              />
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
